/*  your css code here. If applicable */
.olist{
	font-style:bold;
	font-style:italic;
}
.ulist{
	font-style:italic;
	font-style:bold;
}
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}